.body_bg-long {
  background: url('../images/page_long_bg.jpg') no-repeat center;
  background-size: cover;
}

.body_bg-page {
  background: url('../images/page_bg.jpg') no-repeat center;
  background-size: cover;
}

.main-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 0 20px;
  list-style: none;
  background-color: #07933a;
  li {
    a {
      display: inline-block;
      padding: 16px 45px;
      color: #ffffff;
      font-family: "Exo 2";
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.1s ease-out;
      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
}

.main-header {
  padding: 12px 0;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    div {
      display: flex;
      align-items: center;
      &:first-child {
        margin-bottom: 15px;
      }
    }
    img {
      display: inline-block;
      margin-right: 12px;
    }
    p {
      display: inline-block;
      margin: 0;
      color: #151515;
      font-family: "Exo 2";
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__order {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__number {
    margin-right: 45px;
    span {
      display: block;
      color: #151515;
      font-family: "Exo 2";
      font-size: 20px;
      font-weight: 700;
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
  &__call {
    display: inline-block;
    padding: 10px 25px;
    box-shadow: -1px 3px 0 #bf8804;
    background-color: #ffb400;
    border-radius: 999rem;
    text-shadow: 1px 2px 0 #ffd800;
    color: #151515;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 700;
    transition: all 0.1s ease-out;
    &:hover {
      text-decoration: none;
      box-shadow: 0 1px 0 #bf8804;
      background-color: #ffcc00;
      color: #151515;
    }
  }
  &__logo {
    display: block;
    position: relative;
    margin: 0 20px;
    &:after {
      display: block;
      width: 220px;
      height: 75px;
      content: '';
      position: absolute;
      bottom: -48px;
      left: -55px;
      background: url('../images/logo_after.png') no-repeat center;
      background-size: cover;
    }
  }
}

.main-btn {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 40px;
  box-shadow: -1px 3px 0 #bf8804;
  background-color: #ffb400;
  border-radius: 999rem;
  text-shadow: 1px 2px 0 #ffd800;
  color: #151515;
  font-family: "Exo 2";
  font-size: 18px;
  font-weight: 700;
  transition: all 0.1s ease-out;
  &:hover {
    text-decoration: none;
    box-shadow: 0 1px 0 #bf8804;
    background-color: #ffcc00;
    color: #151515;
  }
}

.home-top {
  padding: 100px 0 40px 0;
  background: url('../images/home_top.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #151515;
    font-family: Lobster;
    font-size: 40px;
    font-weight: 400;
  }
  p {
    display: block;
    max-width: 550px;
    margin: 0 auto 60px;
    color: #151515;
    font-family: "Exo 2";
    font-size: 30px;
    font-weight: 400;
  }
  a {
    margin: 0 auto;
  }
}

.home-main-title {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 110px;
  text-align: center;
  color: #151515;
  font-family: "Exo 2";
  font-size: 36px;
  font-weight: 700;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 164px;
    height: 25px;
    top: 160%;
    left: 50%;
    margin-left: -82px;
    background: url('../images/title_down.png') no-repeat center;
    background-size: contain;
  }
}

.home-features {
  padding: 90px 0 30px 90px;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &__card {
    display: inline-flex;
    align-items: center;
    margin-bottom: 70px;
    img {
      display: inline-block;
      max-width: 100%;
      margin-right: 20px;
    }
    p {
      display: inline-block;
      width: 385px;
      margin: 0;
      color: #151515;
      font-family: "Exo 2";
      font-size: 18px;
      font-weight: 400;
      overflow: hidden;
    }
  }
}

.home-catalog {
  padding: 70px 0 60px 0;
  background: url('../images/home_bg_1.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
  }
  &__card {
    width: 350px;
    margin: 0 30px 30px 0;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0 0 20px rgba(191, 191, 191, 0.35);
    border-radius: 9px 9px 9px 9px;
    border: 1px solid #f3d5ae;
    background-color: #fdf9f1;
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: 120px;
      object-fit: cover;
      object-position: center;
      border-radius: 9px 9px 0 0;
    }
  }
  &__card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 10px;
    border-radius: 0 0 9px 9px;
    background-color: #fdf9f1;
    overflow: hidden;
    a {
      display: inline-block;
      margin: 0;
      color: #006cff;
      font-family: "Exo 2";
      font-size: 22px;
      font-weight: 400;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        color: #ffb400;
        text-decoration: none;
      }
    }
  }
}

.home-stock {
  padding: 55px 0;
  background: url('../images/home_top_2.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  .home-main-title {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    &:after {
      top: 120%;
    }
  }
}

.home-order {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  max-width: 930px;
  border-radius: 4px;
  margin: 50px auto 170px auto;
  padding: 40px 80px;
  border: 3px solid #ffa200;
  background-color: #ffffff;
  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 470px;
    height: 315px;
    left: -300px;
    top: 180px;
    background: url('../images/call_left.png') no-repeat center;
    background-size: contain;
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 240px;
    height: 230px;
    right: -180px;
    top: 250px;
    background: url('../images/call_right.png') no-repeat center;
    background-size: contain;
  }
  .home-main-title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    &:after {
      top: 140%;
    }
  }
  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    input {
      flex: 1 1 auto;
      display: inline-block;
      outline: none;
      margin: 0 15px;
      padding: 12px 16px;
      border-radius: 999rem;
      border: 2px solid #f1f1f1;
      background-color: #ffffff;
      color: #151515;
      font-family: "Exo 2";
      font-size: 14px;
      font-weight: 400;
      transition: all 0.1s ease-out;
      &:focus {
        border-color: #ffcc00;
      }
    }
    button {
      display: inline-block;
      background: none;
      margin: 0 15px;
      border: none;
      outline: none;
      padding: 10px 40px;
      box-shadow: -1px 3px 0 #bf8804;
      background-color: #ffb400;
      border-radius: 999rem;
      text-shadow: 1px 2px 0 #ffd800;
      color: #151515;
      font-family: "Exo 2";
      font-size: 18px;
      font-weight: 700;
      transition: all 0.1s ease-out;
      &:hover {
        text-decoration: none;
        box-shadow: 0 1px 0 #bf8804;
        background-color: #ffcc00;
        color: #151515;
      }
    }
  }
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    span {
      margin-right: 5px;
      color: #b7b7b7;
      font-family: "Exo 2";
      font-size: 24px;
      font-weight: 400;
    }
    b {
      color: #b7b7b7;
      font-family: "Exo 2";
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.home-reviews {
  padding: 60px 0;
  background: url('../images/home_bg_2.jpg') no-repeat center;
  background-size: cover;
  border-top: 1px solid #ffa200;
  border-bottom: 1px solid #ffa200;
  text-align: center;
  &__card {
    display: flex;
    justify-content: space-around;
  }
  &__card-who {
    margin-right: 60px;
    text-align: center;
    img {
      display: block;
      width: 150px !important;
      height: 150px;
      margin-bottom: 30px;
      border-radius: 999rem;
      object-fit: cover;
      object-position: center;
    }
    span {
      display: inline-block;
      color: #161616;
      font-family: "Exo 2";
      font-size: 18px;
      font-weight: 400;
    }
  }
  &__card-text {
    display: block;
    flex: 1 1 auto;
    box-shadow: 0 0 20px rgba(191, 191, 191, 0.35);
    border-radius: 9px 10px 10px 9px;
    border: 1px solid #f3d5ae;
    background-color: #ffffff;
    padding: 35px;
    color: #161616;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
  }
  .main-btn {
    margin-top: 50px;
  }
}

.home-wins {
  padding: 60px 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(191, 191, 191, 0.35);
  &__card {
    width: 215px;
    margin: 10px;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }
  .main-btn {
    margin-top: 50px;
  }
}

.home-map {
  margin-bottom: 90px;
  box-shadow: 0 0 20px rgba(191, 191, 191, 0.35);
  border: 1px solid #f3d5ae;
}

.main-footer {
  padding: 5px 0 15px 0;
  background-color: #181818;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
  }
  &__logo {
    img {
      display: inline-block;
      max-width: 100%;
    }
  }
  &__info {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    div {
      display: flex;
      align-items: center;
      &:first-child {
        margin-bottom: 15px;
      }
    }
    img {
      display: inline-block;
      margin-right: 12px;
    }
    p {
      display: inline-block;
      margin: 0;
      color: #ffffff;
      font-family: "Exo 2";
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__order {
    display: flex;
    flex-flow: column nowrap;
    text-align: right;
    span {
      display: block;
      color: #ffffff;
      font-family: "Exo 2";
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__call {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-family: "Exo 2";
    font-size: 18px;
    line-height: 5px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover {
      border: none;
      text-decoration: none;
      color: #ffcc00;
    }
  }
  &__creators {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      img {
        transform: rotate(720deg);
      }
    }
    img {
      display: inline-block;
      transition: all 0.5s ease-out;
    }
    a {
      display: inline-block;
      color: #ffffff;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:hover {
        color: #ffb400;
      }
    }
  }
}

.page-main {
  padding: 90px 0;
}

.page-breadcrumps {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  font-family: "Exo 2";
  font-size: 12px;
  font-weight: 400;
  /* Text style for "Главная ст" */
  li {
    display: inline-block;
    a {
      color: #006cff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      margin: 0 5px;
      color: #000000;
    }
    p {
      margin: 0;
      color: #a4a4a4;
    }
  }
}

.page-grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.page-content {
  flex: 1 1 auto;
  max-width: 860px;
}

.collapser {
  cursor: pointer;
}

.page-sidebar {
  display: inline-block;
  width: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 30px;
  border-radius: 9px;
  border: 2px solid #07933a;
  background: #ffffff;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__title {
    display: block;
    padding: 16px;
    background-color: #07933a;
    color: #ffffff;
    font-family: "Exo 2";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
    }
    span {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    &:last-child {
      border-radius: 0 0 9px 9px;
    }
  }
  &__nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #d8d8d8;
    color: #151515;
    font-family: "Exo 2";
    font-size: 16px;
    font-weight: 700;
    transition: all 0.2s ease-out;
    &:hover {
      color: #707070;
      text-decoration: none;
    }
    &:last-child {
      border: none;
    }
  }
  &__sub-nav {
    li {
      a {
        display: block;
        padding: 10px 10px 10px 40px;
        color: #151515;
        font-family: "Exo 2";
        font-size: 14px;
        font-weight: 400;
        transition: all 0.2s ease-out;
        &:hover {
          background-color: #d1ecdb;
          text-decoration: none;
        }
      }
    }
  }
}

.catalog-catalog {
  padding: 70px 0 60px 0;
  background: url('../images/home_bg_1.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
  }
  &__card {
    width: 250px;
    margin: 0 25px 25px 0;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0 0 20px rgba(191, 191, 191, 0.35);
    border-radius: 9px 9px 9px 9px;
    border: 1px solid #f3d5ae;
    background-color: #fdf9f1;
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: 90px;
      object-fit: cover;
      object-position: center;
      border-radius: 9px 9px 0 0;
    }
  }
  &__card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    border-radius: 0 0 9px 9px;
    background-color: #fdf9f1;
    overflow: hidden;
    a {
      display: inline-block;
      margin: 0;
      color: #006cff;
      font-family: "Exo 2";
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        color: #ffb400;
        text-decoration: none;
      }
    }
  }
}

.goods-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 30px;
  &__amount {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  &__name {
    margin-right: 10px;
    color: #161616;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 400;
  }
  &__amount-numbs {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    &_active {
      border-color: #ffb400 !important;
      color: #161616 !important;
    }
    li {
      display: inline-block;
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 999rem;
        overflow: hidden;
        border: 2px solid #c4c4c4;
        background-color: rgba(255, 255, 255, 0);
        color: #c4c3c3;
        font-family: "Exo 2";
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  &__sort {
    position: relative;
    select {
      padding: 6px;
      background: #ffffff;
      border: none;
      outline: none;
      border: 2px solid #c4c4c4;
      border-radius: 999rem;
      background-color: rgba(253, 249, 241, 0);
      color: #c4c3c3;
      font-family: "Exo 2";
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.goods-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    margin: 0 20px 20px 0;
    text-align: center;
    border-radius: 9px;
    background-color: #fdf9f1;
    box-shadow: 0 0 10px rgba(191, 191, 191, 0.35);
    border: 1px solid #ffc57a;
    .main-btn {
      font-size: 14px;
      margin-bottom: 22px;
      padding: 8px 40px;
    }
    img {
      display: block;
      width: 100%;
      height: 150px;
      margin-bottom: 20px;
      object-fit: cover;
      object-position: center;
    }
  }
  &__card-title {
    max-width: 160px;
    margin-bottom: 15px;
    color: #151515;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 400;
  }
  &__card-price {
    margin-bottom: 15px;
    color: #151515;
    font-family: "Exo 2";
    font-size: 16px;
    font-weight: 700;
  }
}

.main-pagination {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 30px 0 10px 0;
  &_active {
    border-color: #ffb400 !important;
    color: #161616 !important;
  }
  li {
    display: inline-block;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin: 2px;
      border-radius: 999rem;
      overflow: hidden;
      border: 2px solid #c4c4c4;
      background-color: rgba(255, 255, 255, 0);
      color: #c4c3c3;
      font-family: "Exo 2";
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      transition: all 0.15s ease-out;
      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
  &_disable {
    opacity: 0.6;
    border: none;
    background: transparent;
  }
  &_first {
    margin-right: 20px !important;
    border: none !important;
    background: transparent !important;
    width: 25px !important;
    height: 25px !important;
    img {
      width: 25px;
      height: 25px;
      object-fit: contain;
      object-position: center;
    }
  }
  &_last {
    margin-left: 20px !important;
    border: none !important;
    background: transparent !important;
    width: 25px !important;
    height: 25px !important;
    img {
      width: 25px;
      height: 25px;
      object-fit: contain;
      object-position: center;
    }
  }
  &_between {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 2px;
    border: none;
    background: transparent;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 400;
    color: #161616 !important;
    text-align: center;
  }
}

.good-main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
  &__slider {
    width: 390px;
    margin-right: 30px;
  }
  &__about {
    flex: 1 1 auto;
    p {
      display: block;
      color: #161616;
      font-family: "Exo 2";
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__title {
    display: block;
    margin-bottom: 25px;
    color: #151515;
    font-family: "Exo 2";
    font-size: 24px;
    font-weight: 700;
  }
  &__order {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    .main-btn {
      font-size: 14px;
      padding: 8px 30px;
    }
  }
  &__price {
    color: #151515;
    font-family: "Exo 2";
    font-size: 24px;
    font-weight: 400;
    b {
      font-weight: 700;
    }
  }
}

.owl-good__img {
  display: block;
  width: 100%;
  height: 305px;
  border-radius: 9px;
  object-fit: cover;
  object-position: center;
}

.good-description {
  color: #161616;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 400;
  &__title {
    display: block;
    max-width: 670px;
    margin: 0 auto 25px;
    color: #151515;
    font-family: "Exo 2";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  p {
    margin-bottom: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0 auto 20px;
  color: #151515;
  font-family: "Exo 2";
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.article-block {
  color: #161616;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 400;
  &__useful {
    display: flex;
    width: 100%;
    padding: 30px 70px;
    flex-flow: column nowrap;
    align-items: center;
    margin: 20px 0 40px 0;
    border: 3px solid #ffa200;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
  }
  &__useful-title {
    margin-bottom: 25px;
    color: #161616;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 400;
  }
  p {
    margin-bottom: 30px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 30px;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    margin: 20px 0 40px 0;
    padding-left: 60px;
    list-style: none;
    li {
      position: relative;
      margin-bottom: 15px;
      &:before {
        display: block;
        content: '';
        position: absolute;
        left: -30px;
        top: 5px;
        width: 10px;
        height: 18px;
        background: url('../images/icon_li.png') no-repeat center;
        background-size: contain;
      }
    }
  }
}

.wins-title {
  display: block;
  margin-bottom: 50px;
  color: #161616;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 400;
}

.wins-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  &__card {
    display: inline-block;
    width: 220px;
    margin: 0 15px 30px 15px;
    box-shadow: 0 0 10px rgba(191, 191, 191, 0.35);
    border: 2px solid #ffc57a;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}