.container:before {
  display: none;
  content: none;
}

.container:after {
  display: none;
  content: none;
}

.owl-theme .owl-controls .owl-page span {
  width: 10px;
  height: 10px;
}

.owl-theme .owl-controls {
  width: 100%;
  position: absolute;
  top: 48%;
}

.owl-buttons {
  display: flex;
  margin-left: -50px;
  margin-right: -50px;
  justify-content: space-between;
  align-items: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#owl-home-reviews .item {
  display: block;
  width: 100%;
  height: auto;
}

.navbar-toggle {
  margin-top: 25px;
}

.navbar-collapse {
  padding: 0;
}

#owl-good .item img {
  display: block;
  width: 100%;
  height: auto;
}

#owl-good .owl-buttons {
  position: absolute;
  display: flex;
  margin-right: 0 !important;
  margin-top: -30px;
  left: 50%;
  margin-left: -106px !important;
  justify-content: center;
  align-items: center;
}

#owl-good .owl-pagination {
  margin-top: 15px !important;
}

#owl-good .owl-controls {
  top: 100% !important;
}

#owl-good .owl-next {
  margin: 0 40px !important;
}

#owl-good .owl-prev {
  margin: 0 40px !important;
}

#owl-good .owl-controls {
  top: 100% !important;
}

#owl-good span {
  border: 2px solid #c4c4c4 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

#owl-good .owl-page.active span {
  border-color: #ffb400 !important;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border-color: #d19f5e;
  color: #161616;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 400;
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  background-color: #fdf9f1;
  border-color: #f8efe4;
  border-bottom-color: #d19f5e;
  color: #161616;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 400;
}

.slick-dots li button:before {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid #c4c4c4;
  border-radius: 999rem;
  background-color: rgba(255, 255, 255, 0);
  content: '' !important;
}

.slick-dots li.slick-active button:before {
  border-color: #ffb400;
}

.slick-next,
.slick-prev {
  top: 105%;
}

.slick-prev {
  left: 20%;
}

.slick-next {
  right: 20%;
}

.slick-dots {
  bottom: -40px;
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 0;
}

.slick-next:before,
[dir=rtl] .slick-prev:before {
  opacity: 0;
  display: none;
}

.slick-next,
.slick-prev {
  width: 0;
  height: 0;
}

.slick-dots {
  max-width: 200px;
  left: 50%;
  margin-left: -100px;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  li {
    a {
      width: 100%;
      margin: 0;
      color: #161616 !important;
    }
  }
}

.nav>li>a:focus,
.nav>li>a:hover {
  background: transparent;
}