@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-nav {
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    li {
      a {
        padding: 10px;
      }
    }
  }
  .main-header .container {
    flex-flow: column nowrap;
    align-items: center;
  }
  .main-header__logo {
    margin: 10px;
    &:after {
      display: none;
    }
  }
  .main-header__order {
    justify-content: space-around;
    text-align: center;
  }
  .main-header__number {
    margin: 5px;
  }
  .main-header {
    padding: 10px;
  }
  .main-header__info div:first-child {
    margin-bottom: 5px;
  }
  .home-top {
    padding: 20px 0;
  }
  .home-top__title {
    margin-bottom: 20px;
  }
  .home-top {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .home-catalog__cards {
    justify-content: space-around;
  }
  .home-catalog__card {
    margin: 0;
    margin-bottom: 20px;
  }
  .home-features__card {
    margin-bottom: 20px;
  }
  .home-stock {
    padding: 20px 0;
  }
  .home-order {
    margin: 0;
    padding: 15px;
    margin-bottom: 20px;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
    text-align: center;
  }
  .home-main-title {
    font-size: 32px;
  }
  .home-order__form {
    justify-content: space-around;
  }
  .home-order__number {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .home-reviews {
    padding: 20px 0;
  }
  .home-reviews__card {
    flex-flow: row wrap;
  }
  .home-reviews__card-who {
    margin: 10px;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .home-reviews__card-text {
    padding: 15px;
  }
  .owl-buttons {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-wins {
    padding: 20px;
  }
  .home-features__card p {
    width: auto;
    flex: 1 1 auto;
  }
  .home-wins .main-btn {
    margin-top: 20px;
  }
  .home-map {
    margin-bottom: 20px;
  }
  .main-footer .container {
    flex-flow: column nowrap;
    align-items: center;
  }
  .main-footer__logo {
    margin-bottom: 20px;
  }
  .main-footer__order {
    margin: 20px 0;
  }
  .page-grid {
    flex-flow: column nowrap;
  }
  .page-sidebar {
    margin: 20px auto;
    max-width: 100%;
  }
  .page-main {
    padding: 20px;
  }
  .home-main-title {
    margin-bottom: 20px;
    &:after {
      display: none;
    }
  }
  .catalog-catalog__cards {
    justify-content: space-around;
  }
  .catalog-catalog__card {
    margin: 0;
    margin-bottom: 20px;
  }
  .goods-filter__amount {
    margin-bottom: 10px;
  }
  .goods-cards {
    justify-content: space-around;
    &__card {
      margin: 10px;
    }
  }
  .good-main {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .good-main__title {
    margin-top: 50px;
  }
  #owl-good {
    width: 100%;
  }
  .good-main__about {
    flex: none;
    max-width: auto;
    width: 100%;
  }
  .good-main__order {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .good-main__slider {
    width: 300px;
  }
  .article-block__useful {
    padding: 15px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}